{% extends 'core/base.html' %}
{% load static %} 

{% block title %}Acompanhar Senha - SenhaFácil{% endblock %}

{% block head_extras %}
        <meta http-equiv="refresh" content="15">
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-lg" id="card-principal">
                <div class="card-header text-center bg-primary text-white">
                    <h2><i class="bi bi-ticket-perforated"></i> Sua Senha: {{ senha }}</h2>
                </div>
                <div class="card-body">
                    
                    <p class="fs-5 mb-1">Status Atual:</p>
                    <h1 class="display-3 fw-bold mb-4" id="status-senha-individual">
                        {% if senha.status == 'AGU' %}AGUARDANDO{% elif senha.status == 'CHA' %}CHAMADA{% elif senha.status == 'ATE' %}EM ATENDIMENTO{% elif senha.status == 'FIN' %}FINALIZADA{% endif %}
                    </h1>

                    <p class="fs-5">Sua posição na fila:</p>
                    <h1 class="display-3 fw-bold mb-4" id="posicao-na-fila">{{ posicao }}º</h1>
                    
                    <hr />

                    <p class="fs-5 mt-4">Última senha chamada no painel:</p>
                    <h2 class="display-5 text-success fw-bold" id="senha-chamada">
                        - - -
                    </h2>
                </div>
                <div class="card-footer text-muted" id="card-footer-status">
                    Aguarde a atualização. Não feche esta tela.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}