{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login Atendente - SenhaFácil{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header text-center">
                    <h3><i class="bi bi-person-workspace"></i> Acesso Restrito - Atendentes</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }} {# Renderiza o form padrão (Username/Password) #}
                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </form>
                    <hr>
                    <p class="text-center">É um paciente? <a href="{% url 'login' %}">Acesse aqui</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}